.git
.github
node_modules
vendor
public/build
public/hot
public/storage
storage/app/private/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.*
!.env.example
!.env.docker.example
resources/js/actions
resources/js/routes
resources/js/wayfinder
.phpunit.cache
.phpunit.result.cache
*.sqlite
tests
.DS_Store
